/* 메인화면에 아이콘 */
#games-box{
	margin-top:90px;
	display: flex;
	justify-content: center;
}

#games {
  width:600px;
  display: flex;
  justify-content: space-between;
}

.main-icon{
	text-align: center;
}

.main-icon:hover{
	transform: scale(1.1);
}

/* 메인화면 배너 css */
.main_img_size {
	min-width: 1900px;
	height: 650px;
}